[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
asn1crypto = "==0.24.0"
certifi = "==2019.6.16"
cffi = "==1.12.3"
chardet = "==3.0.4"
cryptography = "==2.7"
djangorestframework = "*"
djangorestframework-simplejwt = "==4.3.0"
idna = "==2.8"
psycopg2 = "==2.8.3"
pycparser = "==2.19"
pyopenssl = "==19.0.0"
pytz = "*"
requests = "==2.22.0"
six = "==1.12.0"
sqlparse = "==0.3.0"
urllib3 = "==1.25.3"
Django = "*"
PyJWT = "==1.7.1"

[requires]
python_version = "3.7"
