version: 2.1
jobs:
  build:
    docker:
      - image: circleci/python:3.6.4
    working_directory: ~/app
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: install dependencies
          command: pip3 install -r requirements.txt && pip3 install -r requirements.dev.txt
      - run:
          name: Migrate and seed
          command: python3 manage.py makemigrations && python3 migrate
      - run:
          name: run tests.
          command: pytest 
          timeout: 5000
  deploy:
    docker:
      - image: circleci/python:3.6.4
    environment:
      IMAGE_NAME: 1994scott/resourceapi
    working_directory: ~/app
    steps:
      - checkout
      - setup_remote_docker
      - run:
          name: Build Docker image
          command: |
            docker build -t $IMAGE_NAME:latest .
      - run:
          name: Push Docker Image.
          command: |
            echo "$DOCKERHUB_PASS" | docker login -u "$DOCKERHUB_USERNAME" --password-stdin
            docker tag $IMAGE_NAME:latest $IMAGE_NAME:$CIRCLE_SHA1
            docker push $IMAGE_NAME:latest
            docker push $IMAGE_NAME:$CIRCLE_SHA1
      - run:
          name: Install envsubst
          command: |
            sudo apt-get update && sudo apt-get -y install gettext-base
      - run:
          name: Install kubectl
          command: |
            curl -LO https://storage.googleapis.com/kubernetes-release/release/$(curl -s https://storage.googleapis.com/kubernetes-release/release/stable.txt)/bin/linux/amd64/kubectl
            chmod u+x ./kubectl
      - run:
          name: Deploy Code
          command: chmod +x config_scripts/ci-deploy.sh && config_scripts/ci-deploy.sh
workflows:
  version: 2
  build-deploy:
    jobs:
      - build
      - deploy:
          requires:
            - build
          filters:
            branches:
              only: scott/deployment